# Module 3: Data Structures Assignments

## Lesson 3.4: Dictionaries
### Assignment 1: Creating and Accessing Dictionaries

Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.

In [1]:
square = {i: i * i for i in range(1,11)}
square

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Assignment 2: Accessing Dictionary Elements

Print the value of the key 5 and the keys of the dictionary created in Assignment 1.

In [3]:
square = {i: i * i for i in range(1,11)}
print("5 key value is ", square[5])

print("All keys is ", square.keys())

5 key value is  25
All keys is  dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

### Assignment 3: Dictionary Methods

Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary.

In [5]:
square = {i: i * i for i in range(1,11)}

square[11] = 121
print("Added 11 key is ", square)

del square[1]
print("After removing key 1", square)

Added 11 key is  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}
After removing key 1 {2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

### Assignment 4: Iterating Over Dictionaries

Iterate over the dictionary created in Assignment 1 and print each key-value pair.

In [7]:
square = {i: i * i for i in range(1,11)}

for key, value in square.items():
    print(f"key is {key} and value is {value}")

key is 1 and value is 1
key is 2 and value is 4
key is 3 and value is 9
key is 4 and value is 16
key is 5 and value is 25
key is 6 and value is 36
key is 7 and value is 49
key is 8 and value is 64
key is 9 and value is 81
key is 10 and value is 100

### Assignment 5: Dictionary Comprehensions

Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.

In [10]:
cube = {i: i ** 3 for i in range(1,11)}
cube

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

### Assignment 6: Merging Dictionaries

Create two dictionaries: one with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.

In [11]:
square1 = {i: i * i for i in range(1,6)}
square2 = {i: i * i for i in range(6,11)}

merged_dis = {**square1, **square2}
merged_dis

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Assignment 7: Nested Dictionaries

Create a nested dictionary representing a student with keys 'name', 'age', 'grades', where 'grades' is another dictionary with keys 'math', 'science', and 'english'. Print the nested dictionary.

In [13]:
student = {"name": "mahesh", "age": 26, "grades": {"math": 70, "science": 80, "english": 90}}
student

{'name': 'mahesh',
 'age': 26,
 'grades': {'math': 70, 'science': 80, 'english': 90}}

### Assignment 8: Dictionary of Lists

Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key. Print the dictionary.

In [14]:
multiple = {k: [k * i for i in range(1,6)] for k in range(1,6)}
multiple

{1: [1, 2, 3, 4, 5],
 2: [2, 4, 6, 8, 10],
 3: [3, 6, 9, 12, 15],
 4: [4, 8, 12, 16, 20],
 5: [5, 10, 15, 20, 25]}

### Assignment 9: Dictionary of Tuples

Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary.

In [15]:
square = {i: (i, i * i) for i in range(1,6)}
square

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

### Assignment 10: Dictionary and List Conversion

Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it.

In [17]:
square = {i: i * i for i in range(1,6)}

convert_to_list = list(square.items())
convert_to_list

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

### Assignment 11: Dictionary Filtering

Create a dictionary with the first 10 positive integers as keys and their squares as values. Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

In [18]:
dis = {i: i * i for i in range(1,11) if i%2 == 0}
dis

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

### Assignment 12: Dictionary Key and Value Transformation

Create a dictionary with the first 5 positive integers as keys and their squares as values. Create a new dictionary with keys and values swapped. Print the new dictionary.

In [20]:
dis = {i: i * i for i in range(1,11)}
print("Original ", dis)

swap = {value: key for key, value in dis.items()}
print("Swap ", swap)

Original  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
Swap  {1: 1, 4: 2, 9: 3, 16: 4, 25: 5, 36: 6, 49: 7, 64: 8, 81: 9, 100: 10}

### Assignment 13: Default Dictionary

Create a default dictionary where each key has a default value of an empty list. Add some elements to the lists and print the dictionary.

In [21]:
from collections import defaultdict

dis = defaultdict(list)

dis['a'].append(1)
dis['a'].append(2)
dis['b'].append(3)

dis

defaultdict(list, {'a': [1, 2], 'b': [3]})

### Assignment 14: Counting with Dictionaries

Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

In [34]:

def count_char(s):

    char_count = {}

    for i in s:
        if i in char_count:
            char_count[i] += 1
        else:
            char_count[i] = 1  
             
    return char_count        

string_value = count_char("Hello")
string_value

{'H': 1, 'e': 1, 'l': 2, 'o': 1}

### Assignment 15: Dictionary and JSON

Create a dictionary representing a book with keys 'title', 'author', 'year', and 'genre'. Convert the dictionary to a JSON string and print it.

In [35]:
import json

book = {
    'title': 'Laravel',
    'author': 'MAhesh',
    'year': 2025,
    'genre': 'mahesh'
}

json = json.dumps(book)
json

'{"title": "Laravel", "author": "MAhesh", "year": 2025, "genre": "mahesh"}'