# Module 3: Data Structures Assignments

## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [1]:
number = set(range(1,11))
number

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [3]:
number = set(range(1,11))
number.add(11)

print("11 number added set ", number)

number.remove(1)
print("Modified set is ", number)

11 number added set  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
Modified set is  {2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [7]:
set1 = {1,2,3,4,5}
set2 = {2,4,6,8,10}

union = set1.union(set2)
print("Union is ", union)

intersection = set1.intersection(set2)
print("Intersection is ", intersection)

difference = set1.difference(set2)
print("Difference is ", difference)

symmetric_difference = set1.symmetric_difference(set2)
print("Symmetric difference is ", symmetric_difference)

Union is  {1, 2, 3, 4, 5, 6, 8, 10}
Intersection is  {2, 4}
Difference is  {1, 3, 5}
Symmetric difference is  {1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [8]:
set_of_square = {i * i for i in range(1,11)}
set_of_square

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [9]:
even_number = {i for i in range(1,11) if i%2 == 0}
even_number

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [10]:
set1 = {1,2,3,4,5,1,2,3,4}
set1

{1, 2, 3, 4, 5}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [13]:
set1 = {1,2,3,4,5}
set2 = {1,2,3}

sub_set = set2.issubset(set1)
print("Subset answer", sub_set)

super_set = set1.issuperset(set2)
print("Superset answer ", super_set)

Subset answer True
Superset answer  True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [16]:
frozen_set = frozenset([1,2,3,4,5])
frozen_set

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [19]:
set1 = {1,2,3,4,5}

convert_to_list = list(set1)
convert_to_list.append(6)
print("Converted to list ", convert_to_list)

convert_to_set = set(convert_to_list)
print("Converted to set ", convert_to_set)

Converted to list  [1, 2, 3, 4, 5, 6]
Converted to set  {1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [20]:
dis = {{1,2}: 50, {3,4}: 70, {5,6}: 40}
dis

TypeError: unhashable type: 'set'

In [21]:
dis = {frozenset({1,2}): 50, frozenset({3,4}): 70, frozenset({5,6}): 40}
dis

{frozenset({1, 2}): 50, frozenset({3, 4}): 70, frozenset({5, 6}): 40}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [22]:
set1 = {1,2,3,4,5,6}

for i in set1:
    print(i)

1
2
3
4
5
6

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [23]:
set1 = {1,2,3,4,5}

while set1:
    removed_element = set1.pop()
    print("Removed data ", removed_element)
    print("Updated set ", set1)

Removed data  1
Updated set  {2, 3, 4, 5}
Removed data  2
Updated set  {3, 4, 5}
Removed data  3
Updated set  {4, 5}
Removed data  4
Updated set  {5}
Removed data  5
Updated set  set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [24]:
set1 = {1,2,3,4}
set2 = {1,4,5,6}

set1.symmetric_difference_update(set2)
set1

{2, 3, 5, 6}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [27]:
set1 = {1,2,3,4,5}

check_element = 1 in set1
check_element

True

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [28]:
set1 = {(1,2), (3,4), (5,6)}
set1

{(1, 2), (3, 4), (5, 6)}