# Module 3: Data Structures Assignments

## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples
Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
number = tuple(range(1,11))
number

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [7]:
number = tuple(range(1,11))
length = len(number) // 2

print("First element is: ", number[0])
print("middle element is: ", number[length])
print("Last element is: ", number[-1])

First element is:  1
middle element is:  6
Last element is:  10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [11]:
number = tuple(range(1,11))

print("First three element is: ", number[:3])
print("Last three element is: ", number[-3:])
print("element start from 2 to 5 is: ", number[2:5])

First three element is:  (1, 2, 3)
Last three element is:  (8, 9, 10)
element start from 2 to 5 is:  (3, 4, 5)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [15]:
matrix = [
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
]

for i in matrix:
    print(i)

print("Second row third column is: ", matrix[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Second row third column is:  6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [16]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)

contact = tuple1 + tuple2
contact

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [18]:
fruits = ('apple', 'banana', 'apple', 'orange', 'banana', 'apple')

# count how many times occurrences apple
apple = fruits.count('apple')
print(f"Apple occurrences at {apple} times")

# index of apple
apple_index = fruits.index('apple')
print("Apple first index is ", apple_index)

Apple occurrences at 3 times
Apple first index is  0

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [19]:
data = (1,2,3,4,5)

a,b,c,d,e = data

print("A is: ", a)
print("B is: ", b)
print("C is: ", c)
print("D is: ", d)
print("E is: ", e)

A is:  1
B is:  2
C is:  3
D is:  4
E is:  5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [20]:
lis = [1,2,3,4,5]

list_to_tuple = tuple(lis)
list_to_tuple

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [22]:
tu1 = (1,2,3)
tu2 = (4,5,6)
tu3 = (7,8,9)

tuple_of_tuple = (tu1, tu2, tu3)
tuple_of_tuple

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [25]:
tu1 = (1,2,3,4,5)

convert_to_list = list(tu1)
convert_to_list.append(6)

convert_to_tuple = tuple(convert_to_list)
convert_to_tuple

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [31]:
string = "hello"
tup = tuple(string)

joined_string = "".join(tup)
joined_string

'hello'

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [32]:
dis = {
    (1,2): 10,
    (3,4): 30,
    (5,6): 60
}

dis

{(1, 2): 10, (3, 4): 30, (5, 6): 60}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [34]:
nested_tuple = ((1,2), (3,4), (5,6))

for i in nested_tuple:
    for p in i:
        print(p)

1
2
3
4
5
6

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [35]:
tup = (1,2,3,4,1,2,3)

convert_to_set = set(tup)
convert_to_set

{1, 2, 3, 4}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [37]:
tup = (1,2,3,4,5,6)

def get_min(tup):
    return min(tup)

def get_max(tup):
    return max(tup)

def get_sum(tup):
    return sum(tup)

print("Minimum value is: ", get_min(tup))  
print("Minimum value is: ", get_max(tup))            
print("Minimum value is: ", get_sum(tup))

Minimum value is:  1
Minimum value is:  6
Minimum value is:  21